::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border: 0px rgba(255,255,255,0);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary);
}

::-webkit-scrollbar-track {
  background: rgba(102,102,102,0.5);
  border: 0px rgba(255,255,255,0);
  border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
  background: rgba(102,102,102,0.8);
}

::-webkit-scrollbar-track:active {
  background: rgba(102,102,102,0.8);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

